<form #textForm="ngForm">
  <nav-card title="Transform" *ngIf="textId.indexOf('inline-text') == -1" (click)="onCardClick('Size')">
    <div class="xd-flex xd-gap-20">
      <xd-input type="number" label="W" name="width" [(ngModel)]="element.width" unit="px"></xd-input>
      <xd-input type="number" label="H" name="height" [(ngModel)]="element.height" unit="px"></xd-input>
    </div>
  </nav-card>
  <nav-card title="Margin" (click)="onCardClick('Margin')">
    <div class="xd-flex xd-gap-10">
      <xd-input class="input-col" type="number" label="Top" [width]="43" name="marginTop" [(ngModel)]="element.marginTop"
                unit="px"></xd-input>
      <xd-input class="input-col" type="number" label="Right" [width]="43" name="marginRight"
                [(ngModel)]="element.marginRight" unit="px"></xd-input>
      <xd-input class="input-col" type="number" label="Bottom" [width]="43" name="marginBottom"
                [(ngModel)]="element.marginBottom" unit="px"></xd-input>
      <xd-input class="input-col" type="number" label="Left" [width]="43" name="marginLeft"
                [(ngModel)]="element.marginLeft" unit="px"></xd-input>
    </div>
  </nav-card>
  <nav-card title="Padding" (click)="onCardClick('Padding')">
    <div class="xd-flex xd-gap-10">
      <xd-input class="input-col" type="number" label="Top" [width]="43" name="paddingTop"
                [(ngModel)]="element.paddingTop" unit="px"></xd-input>
      <xd-input class="input-col" type="number" label="Right" [width]="43" name="paddingRight"
                [(ngModel)]="element.paddingRight" unit="px"></xd-input>
      <xd-input class="input-col" type="number" label="Bottom" [width]="43" name="paddingBottom"
                [(ngModel)]="element.paddingBottom" unit="px"></xd-input>
      <xd-input class="input-col" type="number" label="Left" [width]="43" name="paddingLeft"
                [(ngModel)]="element.paddingLeft" unit="px"></xd-input>
    </div>
  </nav-card>
  <div class="xd-flex" *ngIf="textId.indexOf('inline-text') == -1" (click)="onCardClick('Size')">
    <nav-card class="xd-grow">
      <div class="xd-flex xd-gap-15 xd-f-sb">
        <label>Text Align</label>
        <xd-icon [class.active]="element.textAlign == 'left'" (click)="setStyle({textAlign:'left'}, 'textAlign')"
                 class="icon-sm" icon="text-left"></xd-icon>
        <xd-icon [class.active]="element.textAlign == 'center'" (click)="setStyle({textAlign:'center'}, 'textAlign')"
                 class="icon-sm" icon="text-center"></xd-icon>
        <xd-icon [class.active]="element.textAlign == 'right'" (click)="setStyle({textAlign:'right'}, 'textAlign')"
                 class="icon-sm text-right" icon="text-left"></xd-icon>
        <xd-icon [class.active]="element.textAlign == 'justify'" (click)="setStyle({textAlign:'justify'}, 'textAlign')"
                 class="icon-sm" icon="text-justify"></xd-icon>
      </div>
    </nav-card>
  </div>
  <div class="xd-flex" (click)="onCardClick('Size')">
    <nav-card class="xd-grow xd-br-2">
      <div class="xd-flex xd-gap-15 xd-f-center">
        <xd-icon [width]="13" [height]="14" [class.active]="element.textDecoration == 'underline'"
                 (click)="setStyle({textDecoration:'underline'}, 'textDecoration')" class="icon-sm"
                 icon="underline"></xd-icon>
        <xd-icon [width]="13" [height]="14" [class.active]="element.textDecoration == 'overline'"
                 (click)="setStyle({textDecoration:'overline'}, 'textDecoration')" class="icon-sm"
                 icon="overline"></xd-icon>
        <xd-icon [height]="14" [class.active]="element.textDecoration == 'line-through'"
                 (click)="setStyle({textDecoration:'line-through'}, 'textDecoration')" class="icon-sm"
                 icon="line-through"></xd-icon>
        <xd-icon [width]="14" [height]="14" [class.active]="element.fontStyle == 'italic'" (click)="setStyle({fontStyle:'italic'}, 'fontStyle')"
                 class="icon-sm" icon="italics"></xd-icon>
      </div>
    </nav-card>
    <nav-card class="xd-grow">
      <div class="xd-flex xd-gap-15 xd-f-center">
        <xd-icon [class.active]="element.textTransform == 'uppercase'"
                 (click)="setStyle({textTransform:'uppercase'}, 'textTransform')" class="icon-sm "
                 icon="text-upper"></xd-icon>
        <xd-icon [width]="14" [class.active]="element.textTransform == 'lowercase'"
                 (click)="setStyle({textTransform:'lowercase'}, 'textTransform')" class="icon-sm "
                 icon="text-lower"></xd-icon>
        <xd-icon [class.active]="element.textTransform == 'capitalize'"
                 (click)="setStyle({textTransform:'capitalize'}, 'textTransform')" class="icon-sm "
                 icon="text-title"></xd-icon>
      </div>
    </nav-card>
  </div>
  <nav-card title="Text" (click)="onCardClick('Size')">
    <xd-select label="Family" [options]="['']"></xd-select>
    <div class="xd-flex xd-gap-20">
      <xd-input type="number" label="Size" [width]="45" name="fontSize" [(ngModel)]="element.fontSize"
                unit="px"></xd-input>
      <xd-input type="number" label="Weight" name="fontWeight" [(ngModel)]="element.fontWeight"></xd-input>
    </div>
    <xd-color-picker label="Color" name="color" [(ngModel)]="element.color"></xd-color-picker>
  </nav-card>
</form>
