<form #imgForm="ngForm">
  <nav-card title="Transform" (click)="onCardClick('Size')">
    <div class="xd-flex xd-gap-20">
      <xd-input type="text" label="W" name="width" [(ngModel)]="element.width"></xd-input>
      <xd-input type="text" label="H" name="height" [(ngModel)]="element.height"></xd-input>
    </div>
    <div>
      <div class="xd-flex xd-gap-20">
        <xd-input type="text" label="Max W" [width]="40" name="maxWidth" [(ngModel)]="element.maxWidth"></xd-input>
        <xd-input type="text" label="Max H" [width]="40" name="maxHeight" [(ngModel)]="element.maxHeight"></xd-input>
      </div>
      <div class="xd-flex xd-gap-20">
        <xd-input type="text" label="Min W" [width]="40" name="maxWidth" [(ngModel)]="element.minWidth"></xd-input>
        <xd-input type="text" label="Min H" [width]="40" name="maxHeight" [(ngModel)]="element.minHeight"></xd-input>
      </div>
    </div>
  </nav-card>
  <nav-card title="Margin" (click)="onCardClick('Margin')">
    <div class="xd-flex xd-gap-10">
      <xd-input class="input-col" type="text" label="Top" [width]="43" name="marginTop" [(ngModel)]="element.marginTop"
      ></xd-input>
      <xd-input class="input-col" type="text" label="Right" [width]="43" name="marginRight"
                [(ngModel)]="element.marginRight"></xd-input>
      <xd-input class="input-col" type="text" label="Bottom" [width]="43" name="marginBottom"
                [(ngModel)]="element.marginBottom"></xd-input>
      <xd-input class="input-col" type="text" label="Left" [width]="43" name="marginLeft"
                [(ngModel)]="element.marginLeft"></xd-input>
    </div>
  </nav-card>
  <nav-card title="Padding" (click)="onCardClick('Padding')">
    <div class="xd-flex xd-gap-10">
      <xd-input class="input-col" type="text" label="Top" [width]="43" name="paddingTop"
                [(ngModel)]="element.paddingTop"></xd-input>
      <xd-input class="input-col" type="text" label="Right" [width]="43" name="paddingRight"
                [(ngModel)]="element.paddingRight"></xd-input>
      <xd-input class="input-col" type="text" label="Bottom" [width]="43" name="paddingBottom"
                [(ngModel)]="element.paddingBottom"></xd-input>
      <xd-input class="input-col" type="text" label="Left" [width]="43" name="paddingLeft"
                [(ngModel)]="element.paddingLeft"></xd-input>
    </div>
  </nav-card>
  <nav-card title="Appearance" (click)="onCardClick('Size')">
    <xd-color-picker label="Fill" name="backgroundColor" [(ngModel)]="element.backgroundColor"></xd-color-picker>
    <xd-color-picker label="Border" name="borderColor" [(ngModel)]="element.borderColor"></xd-color-picker>
  </nav-card>
  <nav-card title="Images">
    <xd-input type="text" label="Src" name="src" [(ngModel)]="element.src" [width]="165"></xd-input>
    <xd-input type="text" label="Alt" name="alt" [(ngModel)]="element.alt" [width]="165"></xd-input>
    <button style="margin: 10px 0;" class="xd-button" (click)="imgPickerOpen = true">
      <span class="pi pi-image"></span>
      Browse Image
    </button>
    <div class="img-container">
      <div class="xd-img active style-1"><img [attr.src]="imgList[element.src]"><p>{{element.src}}</p></div>
    </div>
  </nav-card>
</form>
<xd-modal [title]="'Image Picker'" [width]="'60%'" [height]="'60vh'" [(isOpen)]="imgPickerOpen">
  <div class="img-container content">
    <div class="xd-img"
         *ngFor="let name of getImagesName()"
         (click)="onImgClick(name)"
         [class.active]="element.src === name"
    >
      <img [attr.src]="imgList[name]">
      <p>{{name}}</p>
    </div>
  </div>
  <div class="footer xd-btn-group">
    <button (click)="imgPickerOpen = false" class="xd-button default">Close</button>
  </div>
</xd-modal>
