<ng-template #handleContainer></ng-template>
<ng-template #elementContainer></ng-template>
<ng-template #contextMenuTemplate>
  <div class="xd-context-menu">
    <ul>
      <li (click)="deleteElement()">Delete</li>
      <li (click)="copyElement()">Copy</li>
      <li [class.disabled]="isPasteEnable" (click)="pasteElement()">Paste</li>
      <li [class.disabled]="breakTextDisabled()" (click)="breakTextNode()">Break Text</li>
    </ul>
  </div>
</ng-template>
<ng-template #inlineText let-node><text-element class="inline" [xdId]="node.id" [type]="'inline-text'" [textNodes]="node.textNodes"></text-element></ng-template>
<ng-template #text let-node>
  <ng-container *ngIf="node != '\n';else emptyNode">
    {{node}}
  </ng-container>
</ng-template>
<ng-template #emptyNode>
  <br>
</ng-template>
<ng-container *ngIf="textNodes && textNodes.length > 0; else emptyNode">
  <ng-container *ngFor="let node of textNodes">
    <ng-container *ngTemplateOutlet="getNodeType(node) ? inlineText:text; context: { $implicit: node } "></ng-container>
  </ng-container>
</ng-container>
