:host{
  background: var(--context-menu-bg);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  display: inline-block;
  min-width: 150px;
  box-shadow: 1px 1px 20px 0 rgba(67, 72, 92, 0.2);
  position: fixed;
  z-index: 9999999;
  transform: scale(0) ;
  transform-origin: top left;
}
:host-context(.visible){
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}
