:host{
  display: flex;
  flex-direction: column;
}
.main-content{
  background: var(--grey-bg);
  min-height: 100vh;
  overflow: hidden;
  flex-grow: 1;
  margin-left: 224px;
  margin-right: 224px;
  padding-top: 30px;
}
