:host{
  min-width: var(--side-nav-width);
  max-width: var(--side-nav-width);
  min-height: 100vh;
  border-right: 2px solid var(--grey-bg);
  border-left: 2px solid var(--grey-bg);
  position: relative;
  z-index: 99;
  color: var(--primary-color);
  background: var(--menu-bg);
  overflow: auto;
}
