<ng-template #handleContainer></ng-template>
<ng-template #contextMenuTemplate>
  <div class="xd-context-menu">
    <ul>
      <li (click)="deleteElement()">Delete</li>
      <li (click)="copyElement()">Copy</li>
    </ul>
  </div>
</ng-template>
<ng-container *ngIf="elementData && imageList[elementData.src]; else placeholderImg">
  <img [src]="imageList[elementData.src]" [alt]="elementData.alt">
</ng-container>
<ng-template #placeholderImg>
  <img src="assets/images/placeholder.jpg" [alt]="'placeholder'">
</ng-template>
