/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "primeng-overrides";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.xd-flex{
  display: flex;
}
.xd-grow{
  flex-grow: 1;
}
.xd-f-center{
  justify-content: center;
}
.xd-gap-20{
  gap: 20px !important;
}
.xd-gap-10{
  gap: 10px !important;
}
.xd-gap-15{
  gap: 15px !important;
}
.xd-hidden{
  display: none !important;
}
.xd-br-2{
  border-right: 2px solid var(--grey-bg);
}
.xd-pl-38{
  padding-left: 38px !important;
}
.xd-overflow{
  overflow: auto;
}
// handle knob styles

.xd-handle{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--white);
  position: absolute;
  border: 1px solid var(--active-blue);
}
.l-knob{
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
  cursor: ew-resize;
}
.r-knob{
  top: 50%;
  transform: translate(50%, -50%);
  right: 0;
  cursor: ew-resize;
}
.t-knob{
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0;
  cursor: ns-resize;
}
.b-knob{
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 0;
  cursor: ns-resize;
}

// xd context menu

.xd-context-menu{
  ul{
    list-style: none;
    padding: 5px 0;
    li{
      font-size: var(--font-m);
      color: var(--dark-color-2);
      letter-spacing: 1px;
      cursor: pointer;
      padding: 4px 10px;
      &:hover{
        color: var(--white);
        background: var(--orange-bg);
      }
    }
  }
}
