/* You can add global styles to this file, and also import other style files */
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.xd-flex{
  display: flex;
}
.xd-grow{
  flex-grow: 1;
}
.xd-f-center{
  justify-content: center;
}
.xd-gap-20{
  gap: 20px !important;
}
.xd-gap-10{
  gap: 10px !important;
}
.xd-gap-15{
  gap: 15px !important;
}
.xd-hidden{
  display: none !important;
}
.xd-br-2{
  border-right: 2px solid var(--grey-bg);
}
// handle knob styles

.xd-handle{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--white);
  position: absolute;
  border: 1px solid var(--active-blue);
}
.l-knob{
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
  cursor: ew-resize;
}
.r-knob{
  top: 50%;
  transform: translate(50%, -50%);
  right: 0;
  cursor: ew-resize;
}
.t-knob{
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0;
  cursor: ns-resize;
}
.b-knob{
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 0;
  cursor: ns-resize;
}
