:root{
  --side-nav-width: 225px;
  --grey-bg: #e4e4e4;
  --menu-bg: #f7f7f7;
  --white: #fff;
  --black: #000;
  --primary-color: #959595;
  --dark-color: #666;
  --active-blue: #0095eb;
  --font-m: 12px;
  --font-s: 11px;
  --font-l: 13px;
  --design-helper-url: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=");
  --design-helper-width: 1px;
  --design-helper-height: 1px;
  --design-helper-offset: 0;
  --design-helper-opacity: 0;
  --blue-light: #ddefff;
  --xd-pl: 0px;
  --xd-pr: 0px;
  --xd-pt: 0px;
  --xd-pb: 0px;
  --xd-ml: 0px;
  --xd-mr: 0px;
  --xd-mt: 0px;
  --xd-mb: 0px;
}
