:root{
  --side-nav-width: 200px;
  --grey-bg: #e4e4e4;
  --menu-bg: #f7f7f7;
  --white: #fff;
  --black: #000;
  --primary-color: #959595;
  --dark-color: #666;
  --active-blue: #0095eb;
  --font-m: 12px;
  --font-s: 11px;
  --font-l: 13px;
}
