:host{
  width: 100%;
  height: 30px;
  border-bottom: 2px solid var(--grey-bg);
  background: var(--menu-bg);
  padding-left: 40px;
  padding-right: 10px;
}
.xd-menu{
  list-style: none;
  display: inline-flex;
  > li{
    display: inline-flex;
    flex-direction: column;
    position: relative;
    a{
      font-size: var(--font-xl);
      color: var(--primary-color);
      letter-spacing: 1px;
      cursor: pointer;
      padding: 4px 10px;
      min-width: 70px;
      justify-content: center;
      display: inline-flex;
      height: 28px;
      align-items: center;
      width: fit-content;
    }
    &:hover{
      a{
        color: var(--dark-color-2);
        background: var(--grey-bg);
      }
      > ul{
        display: inline-block;
      }
    }
  }
  ul{
    font-size: var(--font-l);
    color: var(--dark-color-2);
    list-style: none;
    min-width: 150px;
    padding: 5px 0;
    z-index: 999999;
    background: var(--context-menu-bg);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 1px 1px 20px 0 rgba(67, 72, 92, 0.2);
    display: none;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    li{
      padding: 4px 10px;
      cursor: pointer;
      &:hover{
        color: var(--white);
        background: var(--orange-bg);
      }
    }
  }
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
